@import 'utils';

.template {
  main {
    display: grid;
    overflow: auto;
    margin: 1rem;
    grid-template-columns: 15vw 30vw 45vw;
    grid-template-rows: 85vh;
    grid-column-gap: 3vw;
    min-height: calc(100vh - 5rem)
  }
}
