@import 'utils';

.memo-content {
  background: $oc-gray-9;
  border-radius: 1rem;
  padding: 0.5rem;
  user-select: text;
  .deco-box {
    background: $oc-gray-1;
    border-radius: inherit;
    padding: 1rem;
    .title{
      .title-left {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }
      .title-right {
        display: flex;
        justify-content: flex-end;
        font-size: 0.5rem;
      }
    }
    .content{
      padding-top: 1rem;
    }
  }
}